/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1680px) {
  .reviews:before {
    max-width: 700px;
    width: 100%; }
  .btn-top-scroll {
    bottom: 20px;
    right: 20px; } }

@media only screen and (max-width: 1480px) {
  .btn-top-scroll {
    right: 15px; }
  .reviews:before {
    max-width: 600px; } }

@media only screen and (max-width: 1200px) {
  .map {
    height: 434px; }
  .phone {
    font-size: 14px; }
  .footer-top {
    padding: 35px 0 20px; }
  .header-box {
    font-size: 14px;
    padding: 0 0 0 22px; }
    .header-box .svg-icon {
      width: 14px;
      height: 14px; }
  .reviews:before {
    max-width: 450px; }
  .btn-top-scroll {
    bottom: 20px; }
  .header-box {
    margin: 0 10px 0 0; }
  .address-box {
    margin: 0 auto 0 10px; }
  .btn-border-blue {
    min-width: auto; }
  .product-card {
    height: 100%; }
  .popular-category-box__name {
    font-size: 16px; }
  footer .address-box .svg-icon {
    top: 3px;
    width: 18px;
    height: 18px; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  footer .header-box {
    margin: 0 0 20px;
    line-height: 25px; }
  footer .btn {
    margin: 0 0 20px; }
  footer .phone {
    line-height: 25px; }
  .callback {
    margin: 47px 0 78px; }
  .callback-wrapper {
    padding: 47px 25px 42px; }
    .callback-wrapper .form button {
      margin: 0 auto;
      min-width: 186px;
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content; }
    .callback-wrapper .form label {
      margin: 0 0 23px; }
  h2 {
    margin: 0 auto 25px; }
  .staff-box {
    margin: 0 0 22px;
    height: auto; }
  .staff {
    margin: 54px 0 0; }
    .staff h2 {
      margin: 0 0 27px; }
  .reviews-slider {
    margin: 13px 0 0; }
  .add-reviews {
    margin: 17px 0 0; }
    .add-reviews h2 {
      margin: 0 0 30px; }
  .form-reviews {
    margin: 0 0 20px; }
  .reviews {
    padding: 0; }
    .reviews:before {
      display: none; }
    .reviews .list-star .svg-icon {
      fill: #339EC9; }
    .reviews .list-star .star0 .svg-icon {
      stroke: #339EC9; }
    .reviews .rating-box {
      margin: 20px 0 0; }
  .reviews-slider-box {
    padding: 22px 8px 35px 22px; }
  .reviews-content {
    position: relative;
    z-index: 1;
    padding: 31px 0 35px; }
    .reviews-content:before {
      content: '';
      position: absolute;
      left: -15px;
      top: 0;
      height: 100%;
      width: calc(100% + 30px);
      background: #339EC9;
      z-index: -1; }
    .reviews-content .box-text {
      max-width: none; }
  h2 {
    line-height: 36px; }
  .faq {
    margin: 58px 0 25px; }
    .faq h2 {
      margin: 0 0 19px; }
  .accordion .card-header {
    padding: 10px 10px 10px 0; }
  .accordion .card-body {
    padding: 0 0 10px; }
  .accordion-icon {
    width: 21px;
    height: 21px;
    min-width: 21px; }
  .news {
    margin: 52px 0 58px; }
    .news h2 {
      margin: 0 0 23px; }
  .mb-40 {
    margin-bottom: 13px; }
  .news-card {
    height: 428px; }
    .news-card__img {
      height: 158px; }
    .news-card__body {
      height: calc(100% - 158px);
      padding: 14px 25px 26px; }
  .news .btn-toggle {
    margin: 26px auto 0; }
  .advantages-content {
    padding: 49px 0 28px;
    margin: 0 0 35px; }
    .advantages-content:before {
      top: 0;
      height: 100%;
      min-width: auto;
      left: -15px;
      width: calc(100% + 30px); }
    .advantages-content .box-text {
      max-width: none; }
  .advantages {
    padding: 0;
    margin: 42px 0 30px; }
  .advantages-box {
    padding: 0 0 0 80px; }
  .materials-slider {
    padding: 0 42px; }
  header {
    padding: 7px 0 0; }
    header:before {
      display: none; }
    header .header-box {
      display: none; }
    header .logo {
      margin: 0 auto 0 0; }
  .btn-burger {
    display: block; }
  .btn-search.click {
    background: url("../img/close.svg") no-repeat center;
      background-size: 100%; }
    .btn-search.click .svg-icon {
      display: none; }
  .products-section-wrapper {
    margin: 54px 0 0; }
  .page .menu-category-wrapper {
    margin: 0 0 34px; }
  .nav-breadcrumb {
    margin: 0 0 23px; }
  .btn-border-blue {
    min-width: 160px; }
  .product-section .availability {
    margin: 0 0 22px; }
  .description-product-video {
    height: 350px; }
  .btn-play {
    width: 50px;
    height: 50px; }
  .description-product p {
    margin: 0 0 30px; }
  .table {
    font-size: 12px;
    line-height: normal; }
    .table p {
      margin: 0; }
    .table span {
      font-size: 10px; }
    .table thead th {
      padding: 10px; }
      .table thead th:first-child {
        font-size: 14px;
        padding: 12px 20px; }
  .product-card {
    height: 327px;
    max-width: 280px;
    margin: 0 auto; }
  .product-card-row {
    max-width: none;
    margin: 0;
    height: auto; }
  .reviews-slider {
    padding: 0 20px; }
    .reviews-slider .slick-prev {
      left: 0; }
    .reviews-slider .slick-next {
      right: 0; } }

@media only screen and (max-width: 768px) {
  footer .header-box {
    margin: 0; }
  footer .btn {
    margin: 30px 0; }
  footer .links {
    margin: 0 auto 20px;
    text-align: center; }
  .footer-bottom {
    padding: 20px 0; }
  .copyright {
    margin: 0 auto; }
  .news-card {
    height: auto; }
    .news-card__body {
      height: auto; }
  .certificate-slider {
    padding: 0;
    width: calc(100% + 20px);
    margin: 0 -10px; }
    .certificate-slider .slick-slide {
      width: 186px;
      padding: 0;
      margin: 0 10px; }
  .certificate-box {
    height: 268px; }
  .certificate h2 {
    margin: 0 0 25px; }
  .certificate .box-text {
    margin: 0 0 30px; }
  .slick-prev {
    left: 20px; }
  .slick-next {
    right: 20px; }
  .slick-arrow {
    width: 12px;
    height: 23px; }
  .seo-section {
    margin: 40px 0 65px; }
  .banner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
    .banner-img {
      width: 100%;
      height: 164px; }
    .banner-content {
      width: 100%;
      padding: 28px 20px 35px 24px; }
    .banner h4 {
      margin: 0 0 9px;
      width: 100%; }
  header {
    margin: 0 0 4px; }
  .products-box {
    width: 100%;
    margin: 0 0 36px; }
    .products-box:nth-child(3), .products-box:nth-child(5) {
      margin: 0 0 36px; }
    .products-box:nth-child(even) {
      width: 100%; }
    .products-box:last-child {
      margin: 0; }
  .product-gallery {
    margin: 16px 0 23px; }
    .product-gallery__item {
      height: 238px; }
    .product-gallery .slick-prev {
      left: 18px; }
    .product-gallery .slick-next {
      right: 18px; }
  .product-document {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin: 0 0 20px; }
    .product-document-links {
      margin: 0 70px 0 0; }
      .product-document-links:last-child {
        margin: 0; }
  .product-section .menu-category-wrapper {
    margin: 0 0 23px; }
  .product-section .line-wrapper .btn {
    min-width: 160px; }
  .list-characteristic {
    margin: 15px 0; }
  .description-product {
    margin: 34px 0 36px; }
  .line-wrapper {
    margin: 0; }
  .description-product-video {
    height: 200px; }
  .btn-play {
    width: 25px;
    height: 25px; }
  .table {
    font-family: "Montserrat", sans-serif;
    font-size: 16px; }
    .table thead {
      display: none; }
    .table tr {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      border-top: 1px solid #E0E0E0;
      border-bottom: 1px solid #E0E0E0;
      margin: 0 0 -1px;
      padding: 16px 37px 16px 0;
      position: relative; }
    .table tbody {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
    .table td {
      padding: 0;
      border: none; }
      .table td:nth-child(2), .table td:nth-child(3), .table td:nth-child(4), .table td:nth-child(5), .table td:nth-child(6) {
        display: none; }
      .table td:first-child {
        width: 65%; }
      .table td:nth-last-child(2) {
        width: 35%;
        font-size: 18px; }
      .table td:last-child {
        width: 35%;
        position: absolute;
        right: 30px;
        bottom: 42px; }
    .table .list-characteristics {
      display: block;
      font-size: 14px; }
    .table span {
      font-size: 12px; }
  .description-product-img {
    height: 300px; }
  .home {
    margin: 0; }
  .reviews-slider-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .reviews-slider-box {
    width: 100%;
    margin: 0 auto 13px; }
    .reviews-slider-box:last-child {
      margin: 0 auto; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 576px) {
  .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    padding: 0 15px; }
  .row {
    margin: 0 -15px; }
  .container {
    padding: 0 15px; }
  .footer-menu {
    margin: 0 0 30px; }
  footer .logo {
    margin: 0 0 27px;
    max-width: 123px; }
  .reviews-slider-box__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .reviews-slider-box .list-star {
    margin: 9px 0 0; }
  .materials-box__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .materials-box__wrap .materials-box:last-child {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
  .materials-slider .slick-prev {
    left: 0; }
  .materials-slider .slick-next {
    right: 0; }
  .popular-products {
    margin: 48px 0 0; }
  .popular-products-slider {
    margin: 0;
    padding: 0 22px; }
    .popular-products-slider .slick-prev {
      left: 0; }
    .popular-products-slider .slick-next {
      right: 0; }
  .popular-category .btn {
    margin: 0 auto; }
  .popular-category h2 {
    text-align: center; }
  .popular-category .box-text {
    text-align: center;
    margin: 0 auto 22px; }
  .popular-products-box {
    height: 327px; }
  .popular-category-box .box-text {
    text-align: left;
    margin: 0 0 10px; }
  .price {
    margin: 10px 0; }
  header .header-button {
    display: none; }
  header .logo {
    max-width: 104px; }
  .btn-search {
    margin: 0 42px 0 0; }
    .btn-search.click {
      background-size: 19px; }
  .form-search button {
    min-width: 82px; }
    .form-search button .btn-text {
      display: none; }
    .form-search button .btn-icon .svg-icon {
      margin: 0;
      width: 14px;
      height: 14px; }
  .products-section .form-search-default {
    margin: 30px 0 54px; }
    .products-section .form-search-default label {
      display: none; }
    .products-section .form-search-default button {
      position: relative;
      top: 0;
      right: 0;
      min-width: 180px; }
    .products-section .form-search-default .btn-text {
      display: block;
      margin: 0 0 0 10px; }
  .description-product {
    margin-bottom: 0; }
  .description-product-img {
    height: 301px; }
  .description-product-image {
    height: 208px; }
  .description-product-video {
    height: 188px;
    margin: 0 0 36px; }
  .rating-box-wrapper p {
    margin: 0 8px 0 0; }
  .reviews-item {
    padding: 22px 0 25px; }
    .reviews-item__head {
      margin: 0 0 9px;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    .reviews-item__avatar {
      position: relative;
      margin: 0 8px 0 0;
      top: 0; }
    .reviews-item .rating-box-wrapper {
      width: 100%;
      margin: 20px 0 0; }
    .reviews-item .date-reviews {
      margin: 0 30px 0 0; }
  .catalog-section .form-search {
    margin: 0 0 25px; }
  .btn-toggle-catalog {
    margin: 14px 0 0;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1; }
  .pagination-nav {
    margin: 42px 0 0;
    width: 100%; }
  .catalog-section .description-product {
    margin: 40px 0 0; }
  .catalog-section .description-product-img {
    height: 232px; }
  .mb-24 {
    margin-bottom: 16px; }
  .pagination-nav .page-item {
    margin: 0 2px 0 0; }
  .product-card {
    margin: 0; }
  .product-card-row {
    margin: 0 -15px;
    width: calc(100% + 30px); }
    .product-card-row .product-card__img {
      width: 100%;
      height: 284px; }
    .product-card-row .product-card__body {
      padding: 0 20px 30px;
      width: 100%; }
  .advantages-box {
    margin: 0 0 30px; }
    .advantages-box:last-child {
      margin: 0 0 30px; } }

@media only screen and (max-width: 480px) {
  .menu-category__info {
    padding-right: 20px; } }

@media only screen and (max-width: 360px) {
  .btn-rent {
    margin: 0 0 0 8px; }
  .product-section .line-wrapper .btn {
    min-width: 140px; }
  .table tr {
    padding-right: 0; }
  .table td:last-child {
    right: 0; } }

@media only screen and (max-width: 340px) {
  footer .phone {
    font-size: 12px; }
  footer .header-box {
    font-size: 12px; } }
